.landingPage {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    background-color: #EAF5F4;
}

.landingPage img {
    height: 55vh;
    object-fit: contain;
}

.landingPage h1 {
    margin-top: 0.5vh;
}

.gradient-text {
    background: linear-gradient(to bottom right, #FABB89, #F67D94);
    -webkit-background-clip: text;
    color: transparent;
    /* TODO add shadow */
}
