.post-card {
  position: relative;
  background-color: var(--color-blue);
  border-radius: 12px;
  padding: 16px;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  object-fit: cover;
}

.user-name {
  font-weight: 600;
}

.timestamp {
  font-size: 14px;
  color: var(--color-gray-500);
}

.more-button {
  color: var(--color-gray-500);
  background: none;
  border: none;
  cursor: pointer;
}

.more-button:hover {
  color: var(--color-gray-700);
}

.post-content {
  margin-bottom: 16px;
  color: var(--color-gray-800);
}

.post-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-image {
  margin-top: 10px;
  text-align: center;
}

.post-img {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
}

.action-button {
  background: none;
  border: none;
  color: var(--color-gray-500);
  cursor: pointer;
}

.action-button:hover {
  color: var(--color-gray-700);
}

.comment-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.comment-input {
  padding: 4px 16px;
  border-radius: 9999px;
  border: none;
  background-color: var(--color-white);
  font-size: 14px;
}

.comment-button {
  padding: 4px 16px;
  border-radius: 9999px;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 14px;
  cursor: pointer;
}

.drop_container {
  z-index: 200;
  position: absolute;
  right: 20px;
  top: 80px;
}