.right-panel {
    width: 75%;
    flex: 1;
    background: #f0faff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graphic-container {
    border-radius: 50%;
    background: linear-gradient(to bottom, #ffefd5, #ff6f61);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    margin-top: 20px;
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(to bottom right, #FABB89, #F67D94);
    -webkit-background-clip: text;
    color: transparent;
}